<ion-view view-title="Task">
  <ion-content class="has-header">
  	<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="task in tasks"
      	can-swipe="listCanSwipe"
       	href="#/app/dashboard/{{task.id}}" 
       	on-hold="onHold()">

        {{task.name}}
        <ion-option-button class="button-info"
                       ng-click="edit(task)">
	      Edit
	    </ion-option-button>
	    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    	</ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="openModalTask()">New Task</div>
  </div>
</ion-view>



<!-- Modal -->

<script id="task-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      	<h1 class="title">Add New task</h1>
      	<button class="button button-clear button-positive" ng-click=closeModal()>X</button>
    </ion-header-bar>
    <ion-content class="header">
      	<div class="list">
    			<label class="item item-input">
    			 <input type="text" placeholder="Create Task" ng-model="task.name" name="title">
    			</label>
    			<button class="button button-full button-positive" ng-click="createNewTask(task)">
    				Submit
    			</button>
    		</div>
    </ion-content>
  </ion-modal-view>
</script>

<!-- End Modal -->