<ion-view view-title="Dashboard">
  <ion-content class="has-header">
  	<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="booking in bookings"
      	can-swipe="listCanSwipe"
       	zhref="#/app/dashboard/{{booking.id}}" 
       	zon-hold="onHold()">

        {{booking.title}}
        <ion-option-button class="button-info"
                       ng-click="edit(booking)">
	      Edit
	    </ion-option-button>
	    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    	</ion-delete-button>
      </ion-item>
    </ion-list>
    <p>Last updated on : {{currentTime}}</p>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="openModalBooking()">New Book</div>
  </div>
</ion-view>



<!-- Modal -->

<script id="booking-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      	<h1 class="title">Add New Booking</h1>
      	<button class="button button-clear button-positive" ng-click=closeModal()>Edit</button>
    </ion-header-bar>
    <ion-content class="header">
      	<div class="list">
			<label class="item item-input">
			<input type="text" placeholder="First Name" ng-model="booking.title" name="title">
			</label>
			<label class="item item-input">
			<input type="text" placeholder="Email" ng-model="booking.email" name="email">
			</label>
			<button class="button button-full button-positive" ng-click="createNewBooking(booking)">
				Submit
			</button>
		</div>
    </ion-content>
  </ion-modal-view>
</script>

<!-- End Modal -->